h1{
    color: red;
    text-align: center;
}
nav{
    text-align:center ;
}
article{
    text-align: center;
}
h2{
    color: rgb(85, 85, 9);
    text-align: center;
}
body{
    background-color: grey;
}
p{
    text-align: left;
    font-size: 15px;
    color: black;
  
}